* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5;
  
}
header
{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(6,78,166,1) 42%, rgba(5,94,176,1) 63%, rgba(0,212,255,1) 100%);
}
.navegador {
  display: flex;
  
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
main
{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.title-index {
  display: flex;
 justify-content: center;
 align-items: center;
  background-image: url(../images/image-2.jpg);
  height: 50vh;
  width: 50vw;
  margin-top: 1rem;
  flex-direction: column;
  color: white;

  

}
a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid #4f4f4f;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  color: black;
  z-index: 1;
  background-color: red;
  text-decoration: none;
  text-align: center;
}

a:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

a:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

a:hover {
  color: #ffffff;
  border: 0.1rem solid #39bda7;
}

a:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

a:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.parrafoabout1 {
  margin-top: 5rem;
  padding: 2rem;
  width: 25vw;
  text-align: center;
}
.parrafoabout2 {
  margin-top: 5rem;
  padding: 2rem;
  width: 25vw;
  text-align: center;
}
.parrafoabout3 {
  margin-top: 5rem;
  padding: 2rem;
  width: 25vw;
  text-align: center;
}


.imagenesabout {
  display: flex;
  justify-content: space-between;
}
.image-about {
  width: 25vw;
}
.section-about {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  padding: 2rem;
  margin: 1rem;
}

.primero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.imagenindex1
{
	display: none;
  
}
.imagenindex2
{
	display:none;
}
.parrafosindex
{
	
	width: 40%;
  height: 40vh;
  margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
background-image: url(../images/image-1.jpg);
background-position: center;
background-repeat: no-repeat;


	
}
.parrafosindex p
{
	color: white;
	background-color: rgba(0, 0, 0, 0.441);
	border-radius: 1vh;
	
    font-size: 1.5rem;
	width: 70%;

}

.title-about
{
display: flex;
justify-content: center;
color: black;

}
.bienvenidoabout
{
	display: flex;
	justify-content: center;
	color: black;
	font-size: 1rem;
}

.parrafos
{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 45vh;
} 
.title-contact
{
	display: flex;
	justify-content: center;
	align-items: center;
	 background-image: url(../images/image.jpg);
	 height: 50vh;
	 width: 50vw;
	 margin-top: 1rem;
	 flex-direction: column;
	 color: white;
}
.imagencontact1
{
	display: none;
}
.parrafoscontact3
{
display: flex;
justify-content: flex-start;
border: 0.1rem red solid;
}
.parrafosymails
{
width: 50vw;
height: 20vh;

display: flex;
align-items: center;
justify-content: space-around;


}
.mailytelefono
{
  width: 20vw;
  height: 15vh;
  
  display: flex;
  justify-content: center;
}
.mailytel
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.title-schedule
{
display: flex;
justify-content: center;
}
.bienvenidoschedule
{
  display: flex;
  justify-content: center;
}
table, tr, td, th
{
  border: 0.1rem solid black;
  border-collapse: collapse;
  width: 40vw;
  height: 10vh;
}
table
{
  text-align: center;
  color: white;
}
thead
{
  background-color: rgba(0, 0, 0, 0.475);
  color: white;
}
tbody
{
  background-color: rgba(0, 255, 255, 0.094);
}
.tabla
{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.bienvenidosbenefits
{
  display: flex;
  justify-content: center;
}
ul
{
  list-style-type: circle;
  margin-left: 2rem;
}
ol
{
  list-style-type: lower-alpha;
  margin-left: 2rem;
}
.sectionbenefits1
{
  display: flex;
  flex-direction: row;
 
  justify-content: space-between;
  
  
}
.sectionbenefits2
{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin-top: 2rem;
}
.imagenfit1
{
  width: 35vw;
}

.imagenfit2
{
  width: 35vw;
}
.seccion1
{
  display: flex;
  flex-direction: column;

  margin-top: 5rem;
}
.textoo1
{
  display: flex;
  flex-direction: column;
  width: 35.5%;
 
  justify-content: center;
}
.textoo
{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.title-about
{
  display: flex;
	justify-content: center;
	align-items: center;
	
	 height: 20vh;
	 width: 100%;
	 margin-top: 1rem;
	 flex-direction: column;
}

.bienvenido4 {
  background-color: rgba(4, 14, 14, 0.368);
  color: white;
  border-radius: 2vh;
  border: 0.1rem solid red;
}
.titulo1
{
  background-color: rgba(4, 14, 14, 0.368);
  color: white;
  border-radius: 2vh;
  border: 0.1rem solid red;
}
.title-raffle
{
display: flex;
justify-content: center;
}
.bienvenidosraffle
{
  display: flex;
  justify-content: center;
}
.bienvenido5 {
  background-color: rgba(4, 14, 14, 0.368);
  color: white;
  border-radius: 2vh;
  border: 0.1rem solid red;
}
.bienvenido2
{
  background-color: rgba(4, 14, 14, 0.368);
  color: white;
  border-radius: 2vh;
  border: 0.1rem solid red;
}

.imagenesraffle
{
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.todoraffle
{
display: flex;
justify-content: space-evenly;
margin-top: 3rem;
width: 100%;

  }
.imagenraffle
{
  margin-bottom: 1rem;
}
footer
{
  width: 100%;
  border: 0.2rem double red;
  display: flex;
  justify-content: start;
  background-color: blue;

}
iframe
{
  width: 20vw;
 height: 30vh;
  
}
body
{
  background: rgb(89,88,24);
  background: linear-gradient(90deg, rgba(89,88,24,1) 0%, rgba(255,237,30,1) 31%, rgba(168,161,6,1) 49%, rgba(168,187,26,1) 65%, rgba(209,210,10,1) 100%);
  }

 @media  (min-width: 320px) and (max-width:767px)
{

  a 
  {
    display: flex;
    font-size: 15px;
    flex-direction: column;
  }
  header
  {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  .title-index{
width: 90%;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
.parrafosindex
{
  width: 90%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.parrafosindex p
{
  font-size: 1.3rem;
}
.section-about
{
  flex-direction: column;
 
 margin: 0;
 padding: 0;
 width: 90%;
}
.parrafos
{

width: 100%;

}
.image-about
{
  
  width: 100%;
}
.title-contact
{
  width: 90%;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
font-size: 0.9rem;
}
.parrafocontact1
{
  font-size: 1rem;
}
.parrafocontact2
{
  font-size: 1rem;
}
.parrafosymails
{
display: flex;
flex-direction: column;
}
.sectionbenefits1
{
  display: flex;
  justify-content: start;
}
.sectionbenefits2
{
  display: flex;
  justify-content: start;
  
  font-size: 0.9rem;
}
iframe
{
  width: 100%;
}
}
@media  (min-width: 768px) and (max-width:1023px)
{
  header
  {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
  .title-index{
    width: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .parrafosindex
    {
      width: 60%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .parrafosindex p
    {
      font-size: 1.5rem;
    }
    .section-about
    {
      gap: 4rem;
    }
    .title-contact
{
  width: 90%;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
font-size: 0.9rem;
}
.parrafocontact1
{
  font-size: 1.3rem;
}
.parrafocontact2
{
  font-size: 1.3rem;
}
.parrafosymails
{
display: flex;
flex-direction: column;
}
.sectionbenefits1
{
  display: flex;
  justify-content: start;
  font-size: 1rem;
}
.sectionbenefits2
{
  display: flex;
  justify-content: start;
  
  font-size: 1rem;
}
iframe
{
  width: 100%;
} 
}


/* ⠀⠀⠀⢀⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠘⠀⠑⠄⠀⠀⠀⠀⠀⠀⡠⠐⠉⡆⠀⠀
⠀⠀⠀⠀⠀⠀⢰⠀⠀⠈⠢⠤⠤⢀⡠⠊⠀⠀⠀⡇⠀⠀
⠀⠀⠀⠀⡠⠔⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀
⠀⠀⢠⠊⢀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢣⠀⠀
⠀⢠⠁⠀⠚⠿⠁⠀⠀⠀⡠⣒⣤⠀⠀⠀⠀⠀⠀⠀⢣⠀
⠀⡇⠀⢀⣀⣀⠀⠀⠀⠀⠑⠛⠉⠀⠀⠀⠀⠀⠀⠀⠈⡄
⢠⠀⠀⢻⣿⡿⠗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇
⠈⡄⠀⢀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠃
⠀⠱⠀⠈⠉⠙⠛⠒⠚⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠌⠀
⠀⠀⠡⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠊⠀⠀
⠀⠀⠀⠈⠢⢄⡀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡠⠊⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠁⠒⠒⠐⠒⠒⠀⠉⠁⠀⠀

 */